bin/
obj/

.vs/
*.user
*.suo

.idea/

packages/
*.nupkg
*.snupkg
*.log
*.tmp
*.temp
~$*
Thumbs.db
.DS_Store
*.swp
*.swo
*~
Properties/PublishProfiles/
_ReSharper*/
*.DotSettings.user

deploy.sh